.form {
  display: flex;
  gap: 10px; 
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ccd5ee;
}

.formButton {
  border-radius: 10px; 
  background-color: #455cc6; 
  color: rgb(242, 243, 244);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.formName, .formTime {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
    
}

@media (max-width: 500px) {
    .form {
      flex-direction: column; 
      gap: 15px; 
    }
  
    .formName, 
    .formTime, 
    .formButton {
      width: 100%; 
      box-sizing: border-box;
    }
  }