.item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: #31428e;
    border: 1px solid #007bff; 
    border-left: 5px solid #007bff; 
    border-radius: 6px;
    cursor: pointer; 
    transition: all 0.3s ease;
    font-size: 1.1em;
  }
  
  .itemCompleted {
    composes: item; 
    
    background-color: #162d43; 
    border-color: #adb5bd; 
    border-left-color: #adb5bd; 
    color: #6c757d; 
    text-decoration: line-through; 
  }
  
  .deleteButton {
    background-color: #dc3583; 
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    flex-shrink: 0; /* Не даем кнопке сжиматься */
  }
  
  .deleteButton:hover {
    background-color: #c82368; 
  }